.footer {
  width: 100%;
  background-image: url(../img/bg-footer.jpg);
  background-size: 100%;
  background-position: 50% -45px;
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
}
.footer-top {
  color: #ffffff;
  font-size: 20px;
  margin: 80px 0 10px;
  z-index: 2;
}
.footer-bottom {
  color: #fbb448;
  font-size: 15px;
  z-index: 2;
}
.footer-foot {
  border-top:1px solid rgba(255, 255, 255, 0.1);
  padding: 50px 0;
  margin: 50px 0;
  color: #999999;
  z-index: 2;
  font-size: 17px;
}
.overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}