.header {
  background-image: url(../img/bg-footer.jpg);
  background-position: 50% -45px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.login-box{
  margin-top: 150px;
  border-top: 10px solid #FBB448;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}
.login-form-button{
  width: 100%;
}
.login-form >.ant-form-item > .ant-form-item-label > label{
  color: #fff !important;
}
.login-form-button {
  background: #FBB448;
  border: none;
}
.login-form-button:hover {
  background: #fcbe61;
}
.form-h2 {
  color: #fcbe61;
  text-align: left;
  margin-bottom: 10px;
}
.ant-menu {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 3;
  width: 100%;
}
.ant-menu > li{
  z-index: 3;
  color: #fff;
}
.ant-menu-item > a {
  color: #fff !important;
}
.ant-menu-item-group-list > li {
  color: #000000 !important;
}
.header-main {
  z-index: 2;
  height: 656px;
  margin: auto !important;
}
.overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.header-h1 {
  color: #fff;
  font-size: 70px;
  margin-top: 260px;
}
.newHeader-user {
  color: #fff;
  height: 50px;
  font-size: 20px;
  position: absolute;
  right: 5%;
}
.newHeader-user > i {
  font-size: 30px;
}
.newHeader-user > i:last-child {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.newHeader-user > i:last-child:hover {
  font-size: 17px;
  color: #FBB448;
}